.chat {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}

.chat .messages {
  max-height: 80vh;
  overflow-y: auto;
}

.message {
  margin: 5vh 5vw;
}

.message .text {
  display: flex;
}

.user {
  margin-left: 15vw;
}

.assistant {
  margin-right: 15vw;
}

.user .text {
  font-weight: bold;
  flex-flow: row-reverse;
}

textarea {
  width: 100%;
}
